openapi: 3.2.0
info:
  title: Unstoppable Domains API
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  version: '1.0'
  description: 'Operations tagged domains across 2 of this provider''s published API definitions: unstoppable-domains-partner-api-openapi.yaml, unstoppable-domains-resolution-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.unstoppabledomains.com/partner/v3
  description: Production
- url: https://api.ud-sandbox.com/partner/v3
  description: Sandbox
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
tags:
- name: Domains
  x-displayName: Custody Domains
  description: Manage your custody domains.
paths:
  /domains/{name}:
    patch:
      operationId: updateDomainPatch
      summary: Update a domain (partial update)
      description: 'Perform Domain updates while preserving the existing records.


        ### Change Owner with Records Preserved

        ```

        {

        "owner": {

        "type": "EXTERNAL",

        "address": "0x123"

        }

        }

        ```

        Changes owner to the new owner address without modifying the domain records.


        #### Owner Types

        When changing owner of a domain, you must provide both a `type` and an `address` to clearly indicate the intent of the change.

        - `NONE`: Used when changing the owner to a "burn" address, which will result in nobody owning the domain

        - Valid "burn" addresses are `0x0000000000000000000000000000000000000000` and `0x000000000000000000000000000000000000dEaD`

        - `UD`: Used when changing the owner to an addressed owned by Unstoppable Domains

        - `SELF`: Used when changing the owner to another address that belongs to your account

        - `EXTERNAL`: Used when changing the owner to address that doesn''t qualify as any of the above.

        - _WARNING_: This will result in the domain belonging to an address outside of the management of Unstoppable Domains and we will have no way to recover it.


        ### Update Records with existing Records Preserved

        ```

        {

        "records": {

        "key2": "value2"

        }

        }

        ```

        When applied to a domain with existing records, or with an existing `key2`, will result in only the `key2` value being set to the new value.


        See our documentation for more information on standardized keys.'
      parameters:
      - name: name
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/DomainName'
      - name: $preview
        in: query
        schema:
          $ref: '#/components/schemas/OperationPreviewParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateRequestBody'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOperationResponse'
        400:
          description: Validation error or bad request due to domain custody, unsupported blockchain, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ValidationError:
                  $ref: '#/components/examples/ValidationError'
                NoChange:
                  $ref: '#/components/examples/NoChange'
                ConcurrentOperation:
                  $ref: '#/components/examples/ConcurrentOperation'
                CustodyRequired:
                  $ref: '#/components/examples/CustodyRequired'
                UnsupportedBlockchain:
                  $ref: '#/components/examples/UnsupportedBlockchain'
                BadRequest:
                  $ref: '#/components/examples/BadRequest'
        502:
          $ref: '#/components/responses/502BadGateway'
      tags:
      - Domains
      security:
      - bearer: []
    put:
      operationId: updateDomainPut
      summary: Update a domain (overwriting update)
      description: 'Perform Domain updates while doing full resets of the records.


        ### Change Owner with Record Reset

        ```

        {

        "owner": {

        "type": "EXTERNAL",

        "address": "0x123"

        },

        "records": {}

        }

        ```

        Clears all records from the domain, then changes owner to the new owner address.


        NOTE: You must include `"records": {}` to indicate the intent to clear records.


        #### Owner Types

        When changing owner of a domain, you must provide both a `type` and an `address` to clearly indicate the intent of the change.

        - `NONE`: Used when changing the owner to a "burn" address, which will result in nobody owning the domain

        - Valid "burn" addresses are `0x0000000000000000000000000000000000000000` and `0x000000000000000000000000000000000000dEaD`

        - `UD`: Used when changing the owner to an addressed owned by Unstoppable Domains

        - `SELF`: Used when changing the owner to another address that belongs to your account

        - `EXTERNAL`: Used when changing the owner to address that doesn''t qualify as any of the above.

        - _WARNING_: This will result in the domain belonging to an address outside of the management of Unstoppable Domains and we will have no way to recover it.


        ### Update Records with Record Reset

        ```

        {

        "records": {

        "key2": "value2"

        }

        }

        ```

        When applied to a domain with existing records, only `key2` will remain after the update is complete.


        See our documentation for more information on standardized keys.'
      parameters:
      - name: name
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/DomainName'
      - name: $preview
        in: query
        schema:
          $ref: '#/components/schemas/OperationPreviewParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateRequestBody'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOperationResponse'
        400:
          description: Validation error or bad request due to domain custody, unsupported blockchain, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ValidationError:
                  $ref: '#/components/examples/ValidationError'
                NoChange:
                  $ref: '#/components/examples/NoChange'
                ConcurrentOperation:
                  $ref: '#/components/examples/ConcurrentOperation'
                CustodyRequired:
                  $ref: '#/components/examples/CustodyRequired'
                UnsupportedBlockchain:
                  $ref: '#/components/examples/UnsupportedBlockchain'
                BadRequest:
                  $ref: '#/components/examples/BadRequest'
        502:
          $ref: '#/components/responses/502BadGateway'
      tags:
      - Domains
      security:
      - bearer: []
    delete:
      operationId: returnDomain
      summary: Return and refund a domain
      description: 'Return the domain to Unstoppable Domains so it is once again considered available for registering. The amount previously added to your running balance will be removed after successfully returning a domain.


        Returns are only allowed within 14 days of the original registration date, per our return policy.'
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
      - name: $preview
        in: query
        schema:
          $ref: '#/components/schemas/OperationPreviewParameter'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOperationResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ValidationError:
                  $ref: '#/components/examples/ValidationError'
      tags:
      - Domains
      security:
      - bearer: []
    servers:
    - url: https://api.unstoppabledomains.com/partner/v3
      description: Production
    - url: https://api.ud-sandbox.com/partner/v3
      description: Sandbox
  /domains/{domainName}:
    get:
      operationId: DomainsController.getDomain
      parameters:
      - in: path
        name: domainName
        required: true
        schema:
          pattern: '[^\/#\?]+?'
          type: string
        description: A domain name registered by Unstoppable Domains
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: ''
      summary: Get domain
      tags:
      - Domains
      description: '**Get Records for a Domain**

        **Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.unstoppabledomains.com/resolve
      description: Production
    - url: https://api.ud-sandbox.com/resolve
      description: Sandbox
  /domains:
    get:
      operationId: DomainsController.getDomainsList
      parameters:
      - in: query
        name: resolution
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                type: string
        description: See this [list](https://github.com/unstoppabledomains/uns/blob/main/uns-config.json) for all the resolution keys supported
        style: deepObject
      - in: query
        name: owners
        schema:
          items:
            minLength: 1
            type: string
          type: object
          properties:
            data:
              type: array
              items:
                type: string
        description: Wallet addresses of the owners of domains
      - in: query
        name: tlds
        schema:
          items:
            type: string
          type: object
          properties:
            data:
              type: array
              items:
                enum:
                - x
                - polygon
                - nft
                - crypto
                - blockchain
                - bitcoin
                - dao
                - '888'
                - wallet
                - binanceus
                - hi
                - klever
                - kresus
                - anime
                - manga
                - go
                - zil
                - eth
        description: Domain ending supported such as `crypto`, `x`, or `polygon`. See [supported tlds](https://api.unstoppabledomains.com/resolve/supported_tlds) for the full list
      - in: query
        name: sortBy
        schema:
          type: string
          enum:
          - id
          - name
          - created_at
        description: Sort key to specify how the returned domain list is sorted
      - in: query
        name: sortDirection
        schema:
          type: string
          enum:
          - ASC
          - DESC
        description: Sort order of the returned domain list
      - in: query
        name: startingAfter
        schema:
          maximum: 200
          type: string
          minimum: 1
        description: 'Query offset to skip a number of record, example: 100'
      - in: query
        name: perPage
        schema:
          type: number
        description: 'Number of domains returned in the list, example: 50'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainResponse'
                  meta:
                    type: object
                    items:
                      $ref: '#/components/schemas/DomainsListMeta'
          description: Successful response
      summary: Get domains list
      tags:
      - Domains
      description: '**Get Records for Multiple Domains**


        The API only supports Unstoppable Domains'' naming services for backward compatibility. A new API version is coming soon for other naming services


        Unstoppable Domain''s UNS and CNS with TLDs:

        .x, .polygon, .nft, .crypto, .blockchain, .bitcoin, .dao, .888, .wallet, .binanceus, .hi, .klever, .kresus, .anime, .manga, .go, .zil


        Unstoppable Domain''s Zilliqa with TLDs:

        zil


        **Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.unstoppabledomains.com/resolve
      description: Production
    - url: https://api.ud-sandbox.com/resolve
      description: Sandbox
  /domains/{domainName}/transfers/latest:
    get:
      operationId: DomainsController.getDomainsLastTransfer
      parameters:
      - in: path
        name: domainName
        required: true
        schema:
          pattern: '[^\/#\?]+?'
          type: string
        description: A domain name registered by Unstoppable Domains
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainLatestTransfer'
          description: Successful response
      summary: Get domains last transfer
      tags:
      - Domains
      description: '**Get Domain Transfer Events**

        **Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.unstoppabledomains.com/resolve
      description: Production
    - url: https://api.ud-sandbox.com/resolve
      description: Sandbox
  /records:
    get:
      operationId: DomainsController.getDomainsRecords
      parameters:
      - in: query
        name: domains
        required: true
        schema:
          items:
            minLength: 1
            type: string
          maxItems: 50
          type: object
          properties:
            data:
              type: array
              items:
                type: string
        description: Domain names registered by Unstoppable Domains. At least 1 domain must be passed in
      - in: query
        name: key
        required: false
        schema:
          type: string
        description: Filtered resolution key. See above to see the supported keys on different naming services
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainRecords_2'
          description: Successful response
      summary: Get domains records
      tags:
      - Domains
      description: '**Get Records for Multiple Domains**


        It''s recommended to use this API on different naming services as they support different record keys


        Unstoppable Domain''s UNS and CNS with TLDs:

        .x, .polygon, .nft, .crypto, .blockchain, .bitcoin, .dao, .888, .wallet, .binanceus, .hi, .klever, .kresus, .anime, .manga, .go, .zil

        See this list for all the resolution keys supported


        Ethereum Naming Service - ENS with TLDs:

        .eth


        See Ens'' document for all the resolution keys supported


        **Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.unstoppabledomains.com/resolve
      description: Production
    - url: https://api.ud-sandbox.com/resolve
      description: Sandbox
components:
  examples:
    ValidationError:
      description: Validation error due to incorrect parameters.
      value:
        code: VALIDATION
    BlockchainCongestion:
      description: The blockchain is currently overloaded. Please wait for congestion to improve before trying again.
      value:
        code: BLOCKCHAIN_CONGESTION
    BadRequest:
      description: Request is malformed or invalid.
      value:
        code: BAD_REQUEST
    CustodyRequired:
      description: The domain or wallet is not in your custody.
      value:
        code: CUSTODY_REQUIRED
    NoChange:
      description: No change would occur by the requested operation.
      value:
        code: NO_CHANGE
    UnsupportedBlockchain:
      description: The domain blockchain is not currently supported for this operation.
      value:
        code: UNSUPPORTED_BLOCKCHAIN
    ConcurrentOperation:
      description: An operation for the domain is already in progress and must complete before you can start another operation.
      value:
        code: CONCURRENT_OPERATION
  schemas:
    SubOperationResponse:
      type: object
      properties:
        id:
          type: string
          example: bc-2db427bd-5613-40c7-85b1-ab38beed0ed0
        status:
          $ref: '#/components/schemas/OperationStatus'
      required:
      - status
      - id
    WebhookDeleteParametersResponse:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    WalletCreateResultResponse:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/OwnerAddress'
      required:
      - address
    ErrorResponseMulti:
      type: object
      properties:
        code:
          type: string
          enum:
          - MULTIPLE_ERRORS
        message:
          type: string
        context:
          $ref: '#/components/schemas/ErrorResponseContext'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseSingle'
      required:
      - code
      - errors
    WalletSetDefaultParametersResponse:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/OwnerAddress'
      required:
      - address
    UpdateDomainRecords:
      allOf:
      - $ref: '#/components/schemas/DomainRecords'
      - type: object
        maxProperties: 500
    TransferParametersResponse:
      type: object
      properties:
        fromAddress:
          $ref: '#/components/schemas/OwnerAddress'
        toAddress:
          $ref: '#/components/schemas/OwnerAddress'
        resetRecords:
          type: boolean
      required:
      - fromAddress
      - toAddress
      - resetRecords
    MintSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/BlockchainSubOperationResponse'
      - type: object
        properties:
          type:
            type: string
            enum:
            - MINT
          parameters:
            $ref: '#/components/schemas/MintParametersResponse'
        required:
        - type
        - parameters
    UpdateRecordsParametersResponse:
      type: object
      properties:
        recordUpdates:
          $ref: '#/components/schemas/DomainRecords'
        resetRecords:
          type: boolean
      required:
      - recordUpdates
      - resetRecords
    WalletCreateSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/PlatformSubOperationResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/WalletCreateResultResponse'
          type:
            type: string
            enum:
            - WALLET_CREATE
        required:
        - type
    WalletSetDefaultSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/PlatformSubOperationResponse'
      - type: object
        properties:
          parameters:
            $ref: '#/components/schemas/WalletSetDefaultParametersResponse'
          type:
            type: string
            enum:
            - WALLET_SET_DEFAULT
        required:
        - parameters
        - type
    PlatformSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/SubOperationResponse'
      - type: object
        properties:
          '@type':
            type: string
            enum:
            - unstoppabledomains.com/partner.v3.PlatformOperation
        required:
        - '@type'
    DomainUpdateRequestBody:
      type: object
      properties:
        owner:
          $ref: '#/components/schemas/DomainUpdateRequestBodyOwner'
        records:
          $ref: '#/components/schemas/UpdateDomainRecords'
    WebhookCreateParametersResponse:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/WebhookType'
        url:
          type: string
          format: uri
      required:
      - type
      - url
    ErrorResponse:
      oneOf:
      - $ref: '#/components/schemas/ErrorResponseSingle'
      - $ref: '#/components/schemas/ErrorResponseMulti'
    ErrorResponseContextEntity:
      oneOf:
      - $ref: '#/components/schemas/ErrorResponseContextEntitySingle'
      - $ref: '#/components/schemas/ErrorResponseContextEntityMulti'
    OwnerAddress:
      oneOf:
      - $ref: '#/components/schemas/EvmOwnerAddress'
    WebhookCreateSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/PlatformSubOperationResponse'
      - type: object
        properties:
          parameters:
            $ref: '#/components/schemas/WebhookCreateParametersResponse'
          result:
            $ref: '#/components/schemas/WebhookCreateResultResponse'
          type:
            type: string
            enum:
            - WEBHOOK_CREATE
        required:
        - parameters
        - type
    ErrorResponseContextEntityMulti:
      type: object
      properties:
        type:
          type: string
          enum:
          - MULTI_VALUE
        values:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseContextEntitySingle'
      required:
      - type
      - values
    ErrorResponseContextEntitySingle:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
      required:
      - type
      - value
    OperationCheckResponse:
      type: object
      properties:
        id:
          type: string
          example: op-4abb409c-9283-4589-bd36-d27a757a2165
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.Operation
        status:
          $ref: '#/components/schemas/OperationStatus'
        type:
          $ref: '#/components/schemas/OperationType'
        domain:
          $ref: '#/components/schemas/DomainName'
        lastUpdatedTimestamp:
          type: number
          example: 1684356429790
        dependencies:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/MintSubOperationResponse'
            - $ref: '#/components/schemas/UpdateRecordsSubOperationResponse'
            - $ref: '#/components/schemas/TransferSubOperationResponse'
            - $ref: '#/components/schemas/ReturnSubOperationResponse'
            - $ref: '#/components/schemas/WalletCreateSubOperationResponse'
            - $ref: '#/components/schemas/WalletSetDefaultSubOperationResponse'
            - $ref: '#/components/schemas/WebhookCreateSubOperationResponse'
            - $ref: '#/components/schemas/WebhookDeleteSubOperationResponse'
      required:
      - id
      - status
      - type
      - dependencies
      - '@type'
      - lastUpdatedTimestamp
    OperationStatus:
      type: string
      enum:
      - QUEUED
      - SIGNATURE_REQUIRED
      - PROCESSING
      - COMPLETED
      - FAILED
      - CANCELLED
    ErrorResponseSingle:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        context:
          $ref: '#/components/schemas/ErrorResponseContext'
    DomainOperationResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.DomainOperationResult
        operation:
          $ref: '#/components/schemas/OperationCheckResponse'
      required:
      - '@type'
      - operation
    TransferSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/BlockchainSubOperationResponse'
      - type: object
        properties:
          type:
            type: string
            enum:
            - TRANSFER
          parameters:
            $ref: '#/components/schemas/TransferParametersResponse'
        required:
        - type
        - parameters
    BlockchainType:
      type: string
      enum:
      - MATIC
      - ETH
      - BASE
    BlockchainSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/SubOperationResponse'
      - type: object
        properties:
          '@type':
            type: string
            enum:
            - unstoppabledomains.com/partner.v3.BlockchainOperation
          transaction:
            $ref: '#/components/schemas/SubOperationTransactionResponse'
        required:
        - '@type'
    DomainRecords:
      type: object
      additionalProperties:
        type: string
      example:
        crypto.ETH.address: '0xb4783AeF93923a2d4eEA29C84f347F26E62e4321'
        crypto.MATIC.version.MATIC.address: '0xb4783AeF93923a2d4eEA29C84f347F26E62e5678'
        crypto.MATIC.version.ERC20.address: '0xb4783AeF93923a2d4eEA29C84f347F26E62e0921'
    OwnerType:
      type: string
      enum:
      - NONE
      - UD
      - SELF
      - EXTERNAL
      description: '- `NONE`: Domain is not currently owned by anyone

        - `UD`: Domain is owned by a wallet/contract that belongs to Unstoppable Domains

        - `SELF`: Domain is owned by your account. You can manage this domains through the API

        - `EXTERNAL`: Owner doesn''t qualify as any of the above.

        '
    WebhookType:
      type: string
      enum:
      - OPERATION_FINISHED
      - OPERATION_ACTION_REQUIRED
    WebhookDeleteSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/PlatformSubOperationResponse'
      - type: object
        properties:
          parameters:
            $ref: '#/components/schemas/WebhookDeleteParametersResponse'
          type:
            type: string
            enum:
            - WEBHOOK_DELETE
        required:
        - parameters
        - type
    OperationType:
      type: string
      enum:
      - DOMAIN_CLAIM
      - DOMAIN_UPDATE
      - DOMAIN_RETURN
      - WALLET_CREATE
      - WALLET_UPDATE
      - WALLET_VERIFY
      - ACCOUNT_UPDATE
    DomainName:
      type: string
      example: matt.crypto
    UpdateRecordsSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/BlockchainSubOperationResponse'
      - type: object
        properties:
          type:
            type: string
            enum:
            - UPDATE_RECORDS
          parameters:
            $ref: '#/components/schemas/UpdateRecordsParametersResponse'
        required:
        - type
        - parameters
    ReturnSubOperationResponse:
      allOf:
      - $ref: '#/components/schemas/BlockchainSubOperationResponse'
      - type: object
        properties:
          type:
            type: string
            enum:
            - RETURN
        required:
        - type
    DomainUpdateRequestBodyOwner:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/OwnerType'
        address:
          $ref: '#/components/schemas/OwnerAddress'
      required:
      - type
      - address
    OperationPreviewParameter:
      type: boolean
      default: false
      description: 'Allows simulating the operation creation (when set to `true`), without actually starting any processing. This can be used to validate the operation will be permitted and get a preview of the initial outcome.


        When used, the operation in the response will have `PREVIEW` for all `id` and `status` values.

        '
    EvmOwnerAddress:
      type: string
      example: '0xb4783AeF93923a2d4eEA29C84f347F26E62e4321'
      pattern: ^0x[a-fA-F0-9]{40}$
    WebhookCreateResultResponse:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    SubOperationTransactionResponse:
      type: object
      properties:
        hash:
          type: string
        blockchain:
          $ref: '#/components/schemas/BlockchainType'
      required:
      - blockchain
    MintParametersResponse:
      type: object
      properties:
        initialRecords:
          $ref: '#/components/schemas/DomainRecords'
        toAddress:
          $ref: '#/components/schemas/OwnerAddress'
      required:
      - toAddress
    ErrorResponseContext:
      type: object
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseContextEntity'
      required:
      - entities
    DomainMetadata:
      properties:
        resolver:
          type: string
        blockchain:
          items:
            type: string
            enum:
            - ETH
            - ZIL
            - MATIC
          type: string
        networkId:
          type: number
          enum:
          - 1
          - 5
          - 137
          - 1337
          - 80001
        registry:
          type: string
        type:
          enum:
          - Uns
          - Zilliqa
          - Ens
          type: string
        customMeta:
          type: object
        domain:
          type: string
        namehash:
          type: string
        tokenId:
          type: string
        owner:
          type: string
        reverse:
          type: boolean
      type: object
      required:
      - type
      - domain
      - reverse
    DomainRecords_2:
      properties:
        domain:
          type: string
        records:
          type: object
      type: object
      required:
      - domain
      - records
    DomainsListMeta:
      properties:
        nextStartingAfter:
          type: string
          minLength: 1
        sortBy:
          type: string
          minLength: 1
        sortDirection:
          type: string
          minLength: 1
        perPage:
          maximum: 200
          type: string
          minimum: 1
          minLength: 1
        hasMore:
          type: string
          minLength: 1
      type: object
      required:
      - nextStartingAfter
      - sortBy
      - sortDirection
      - perPage
      - hasMore
    DomainResponse:
      properties:
        meta:
          $ref: '#/components/schemas/DomainMetadata'
        records:
          type: object
      type: object
      required:
      - meta
      - records
    DomainLatestTransfer:
      properties:
        domain:
          type: string
        from:
          minLength: 1
          type: string
        to:
          minLength: 1
          type: string
        networkId:
          minLength: 1
          type: integer
        blockNumber:
          minLength: 1
          type: integer
        blockchain:
          minLength: 1
          type: string
      type: object
      required:
      - domain
      - from
      - to
      - networkId
      - blockNumber
      - blockchain
  responses:
    502BadGateway:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: BAD_GATEWAY
          examples:
            BlockchainCongestion:
              $ref: '#/components/examples/BlockchainCongestion'
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- unstoppable-domains-partner-api-openapi.yaml
- unstoppable-domains-resolution-api-openapi.yaml
