openapi: 3.2.0
info:
  title: Resolution Service Status API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: The Resolution Service provides APIs for resolving domain metadata and records from multiple blockchain and naming services.
servers:
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Status
paths:
  /status:
    get:
      operationId: StatusController.getStatus
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: ''
      summary: Get status
      tags:
      - Status
      security:
      - {}
  /supported_tlds:
    get:
      operationId: StatusController.listSupportedTlds
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: List supported tlds
      tags:
      - Status
      security:
      - {}
components:
  schemas:
    StatusResponse:
      properties:
        blockchain:
          $ref: '#/components/schemas/Blockchains'
      type: object
      required:
      - blockchain
    BlockchainStatus:
      properties:
        isUpToDate:
          type: boolean
        latestNetworkBlock:
          type: number
        latestMirroredBlock:
          type: number
        networkId:
          type: number
        acceptableDelayInBlocks:
          type: number
      type: object
      required:
      - isUpToDate
      - latestNetworkBlock
      - latestMirroredBlock
      - networkId
      - acceptableDelayInBlocks
    Blockchains:
      properties:
        ETH:
          $ref: '#/components/schemas/BlockchainStatus'
        MATIC:
          $ref: '#/components/schemas/BlockchainStatus'
        ZIL:
          $ref: '#/components/schemas/BlockchainStatus'
        ETH-ENS:
          $ref: '#/components/schemas/BlockchainStatus'
      type: object
      required:
      - ETH
      - MATIC
      - ZIL
      - ETH-ENS
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
