openapi: 3.2.0
info:
  title: Resolution Service Rpc Proxy API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: "The Resolution Service provides APIs for resolving domain metadata and records from multiple blockchain and naming services. The service currently supports the following naming services:\n    <ul>\n      <li>\n        <p>Unstoppable Domain's <a href=\"https://docs.unstoppabledomains.com/smart-contracts/overview/uns-architecture-overview\" target=\"_blank\">UNS</a> and <a href=\"https://docs.unstoppabledomains.com/smart-contracts/overview/cns-architecture-overview\" target=\"_blank\">CNS</a> with TLDs:\n<strong>.x</strong>, <strong>.polygon</strong>, <strong>.nft</strong>, <strong>.crypto</strong>, <strong>.blockchain</strong>, <strong>.bitcoin</strong>, <strong>.dao</strong>, <strong>.888</strong>, <strong>.wallet</strong>, <strong>.binanceus</strong>, <strong>.hi</strong>, <strong>.klever</strong>, <strong>.kresus</strong>, <strong>.anime</strong>, <strong>.manga</strong>, <strong>.go</strong>, <strong>.zil</strong></p>\n      </li>\n      <li>\n        <p>Ethereum Naming Service - <a href=\"https://docs.ens.domains/\" target=\"_blank\">ENS</a> with TLDs:\n<strong>.eth</strong></p>\n      </li>\n    </ul>\n    <br></br>\n    The service caches blockchain events in a database for easy retrieval without accessing any blockchain APIs.\n    With the Resolution Service API, you can quickly build applications directly communicating with the blockchain to get UD domain data with a single API request."
servers:
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Rpc Proxy
paths:
  /chains/eth/rpc:
    post:
      operationId: RpcProxyController.proxyEth
      requestBody:
        content:
          application/json:
            schema: {}
        description: ''
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RpcResponse'
          description: ''
      summary: Proxy eth
      tags:
      - Rpc Proxy
      description: '**Ethereum RPC provider to interact with Unstoppable Domain Smart Contract**<br/>This endpoint is meant to be use by Unstoppable Domains''s [SDKs](https://docs.unstoppabledomains.com/resolution/sdks-and-libraries/overview/) to query directly onchain data'
  /chains/matic/rpc:
    post:
      operationId: RpcProxyController.proxyPol
      requestBody:
        content:
          application/json:
            schema: {}
        description: ''
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RpcResponse'
          description: ''
      summary: Proxy pol
      tags:
      - Rpc Proxy
      description: '**Polygon RPC provider to interact with Unstoppable Domain Smart Contract**<br/>This endpoint is meant to be use by Unstoppable Domains''s [SDKs](https://docs.unstoppabledomains.com/resolution/sdks-and-libraries/overview/) to query directly onchain data'
components:
  schemas:
    RpcResponse:
      properties:
        jsonrpc:
          type: string
        id:
          type: number
        data:
          type: string
        error:
          type: string
      type: object
      required:
      - jsonrpc
      - id
      - error
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
