openapi: 3.2.0
info:
  title: Resolution Service Owner API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: "The Resolution Service provides APIs for resolving domain metadata and records from multiple blockchain and naming services. The service currently supports the following naming services:\n    <ul>\n      <li>\n        <p>Unstoppable Domain's <a href=\"https://docs.unstoppabledomains.com/smart-contracts/overview/uns-architecture-overview\" target=\"_blank\">UNS</a> and <a href=\"https://docs.unstoppabledomains.com/smart-contracts/overview/cns-architecture-overview\" target=\"_blank\">CNS</a> with TLDs:\n<strong>.x</strong>, <strong>.polygon</strong>, <strong>.nft</strong>, <strong>.crypto</strong>, <strong>.blockchain</strong>, <strong>.bitcoin</strong>, <strong>.dao</strong>, <strong>.888</strong>, <strong>.wallet</strong>, <strong>.binanceus</strong>, <strong>.hi</strong>, <strong>.klever</strong>, <strong>.kresus</strong>, <strong>.anime</strong>, <strong>.manga</strong>, <strong>.go</strong>, <strong>.zil</strong></p>\n      </li>\n      <li>\n        <p>Ethereum Naming Service - <a href=\"https://docs.ens.domains/\" target=\"_blank\">ENS</a> with TLDs:\n<strong>.eth</strong></p>\n      </li>\n    </ul>\n    <br></br>\n    The service caches blockchain events in a database for easy retrieval without accessing any blockchain APIs.\n    With the Resolution Service API, you can quickly build applications directly communicating with the blockchain to get UD domain data with a single API request."
servers:
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Owner
paths:
  /owners/{address}/domains:
    get:
      operationId: OwnerController.getDomain
      parameters:
      - in: path
        name: address
        required: true
        schema:
          pattern: '[^\/#\?]+?'
          type: string
      - in: query
        name: cursor
        schema: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnerDomainResponse'
                    example:
                    - meta:
                        domain: brad.x
                        tokenId: '43203879674324136535296999221055898360621456401904282749851613586946753348449'
                        namehash: '0x5f84878237331ae6942710e286a1fa3f34ff8ed38ce8b323cc63b99a6598c361'
                        blockchain: MATIC
                        networkId: 137
                        owner: '0x8aad44321a86b170879d7a244c1e8d360c99dda8'
                        resolver: '0xa9a6a3626993d487d2dbda3173cf58ca1a9d9e9f'
                        registry: '0xa9a6a3626993d487d2dbda3173cf58ca1a9d9e9f'
                      records:
                        ipfs.html.value: QmQ7tiF4xfCUpZR4RZHoupLL34otKScPenvhNTz4hTFW3J
                  next:
                    type:
                    - string
                    - 'null'
                    example: /owners/0x8aad44321a86b170879d7a244c1e8d360c99dda8/domains?cursor=123
          description: Successful response
      summary: Get domain
      tags:
      - Owner
      description: '**Get Domains by Address**<br/>**Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
components:
  schemas:
    OwnerDomainResponse:
      properties:
        meta:
          $ref: '#/components/schemas/OwnerDomainMetadata'
        records:
          type: object
      type: object
      required:
      - meta
      - records
    OwnerDomainMetadata:
      properties:
        domain:
          type: string
        namehash:
          type: string
        tokenId:
          type: string
        owner:
          type: string
        resolver:
          type: string
        blockchain:
          items:
            type: string
            enum:
            - ETH
            - ZIL
            - MATIC
          type: string
        networkId:
          type: number
          enum:
          - 1
          - 5
          - 137
          - 1337
          - 80001
        registry:
          type: string
        type:
          enum:
          - Uns
          - Zilliqa
          - Ens
          type: string
        customMeta:
          type: object
      type: object
      required:
      - domain
      - type
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
