openapi: 3.2.0
info:
  title: Reseller Domain Transfers API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Reseller Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: '# Feature Overview

    The Reseller API provides domain reseller partners with the ability to search, register and manage traditional DNS domains. The API exposes a RESTful interface for domain registration, DNS management, and domain lifecycle operations.

    - **Domain Discovery**: Search for specific domains or find suggested alternatives, determine pricing, availability and registration details

    - **Domain Registration**: Register domains with full control over registration period, contacts, and initial DNS configuration

    - **DNS Management**: Create, update and delete DNS records for your domains

    - **Domain Lifecycle**: Manage renewals, transfers, contacts, and domain flags through a simple API interface

    - **Marketplace**: Browse secondary marketplace listings to find premium domains available for purchase from existing owners


    For access, authentication, environments, and your first request, start with the [Quick Start](/apis/reseller/quick-start).


    For implementation guidance on operations, flags, registration flows, contact management, DNS management, webhooks, and lifecycle operations, see the [Implementation Guide](/apis/reseller/implementation-guide).

    '
servers:
- url: https://api.unstoppabledomains.com/partner/v3
  description: Production
- url: https://api.ud-sandbox.com/partner/v3
  description: Sandbox
security:
- bearer: []
tags:
- name: domain-transfers
  description: 'Check transfer eligibility and retrieve authorization codes for transferring domains to another registrar.

    '
  x-displayName: Transfers
paths:
  /domains/{name}/dns/authorization-code:
    get:
      operationId: getAuthorizationCode
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Transfer authorization code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTransferAuthorizationCodeResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - domain-transfers
      summary: Get transfer authorization code
      description: 'Retrieve the authorization (EPP) code required to transfer the domain to another registrar. The domain must be eligible for transfer before requesting this code.

        '
  /domains/{name}/dns/transfers/inbound-eligibility:
    post:
      operationId: postDomainDnsTransferInboundEligibility
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnsTransferInboundEligibilityRequestBody'
      responses:
        '201':
          description: Transfer eligibility check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDnsTransferInboundEligibilityResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - domain-transfers
      summary: Check inbound transfer eligibility
      description: 'Check whether a domain is eligible for inbound transfer to your account. Provide the authorization code to validate the transfer.

        '
components:
  schemas:
    DomainDnsTransferInboundEligibilityResponse:
      type: object
      properties:
        isEligible:
          type: boolean
        reasons:
          type: array
          items:
            type: string
            enum:
            - REGISTRAR_LOCKED
            - NOT_REGISTERED
            - TRANSFER_DATE_NOT_REACHED
            - INVALID_AUTHORIZATION
            - ALREADY_TRANSFERRED
            - INVALID_TLD_FOR_TRANSFER
            - REGISTRY_LOCKED
            - REGISTRY_UPDATE_PROHIBITED
            - UNVERIFIED_OWNER_FOR_DNS
            - DOMAIN_EXPIRING_SOON
        expirationDate:
          type: string
        projectedExpirationDate:
          type: string
        projectedExtensionPeriod:
          type: number
      required:
      - isEligible
      - reasons
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: VALIDATION
        message:
          type: string
          description: Human-readable error description
        errors:
          type: array
          description: Individual errors when code is MULTIPLE_ERRORS
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
      required:
      - code
    DomainDnsTransferInboundEligibilityRequestBody:
      type: object
      properties:
        authorizationCode:
          type: string
          minLength: 3
          maxLength: 250
      required:
      - authorizationCode
    DomainTransferAuthorizationCodeResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.ICannDomainTransferAuthorizationCode
        code:
          type: string
      required:
      - '@type'
      - code
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Domains
  tags:
  - domain-search
  - suggestions
  - domain-registration
  - domain-management
  - dns-records
  - domain-transfers
  - domain-flags
  - domain-contacts
- name: Marketplace
  tags:
  - marketplace
- name: Discovery
  tags:
  - pricing
  - tlds
- name: Contacts
  tags:
  - contacts
- name: Operations
  tags:
  - operations
- name: Hosting
  tags:
  - hosting
- name: Account
  tags:
  - account
