openapi: 3.2.0
info:
  title: User Session API
  description: 'Search, check availability, and purchase traditional DNS domains. This API enables AI assistants to help users find and buy domain names.


    When using the API directly, you will need an API key. See [API Key setup](/user-api/overview#api-key-advanced) for instructions.'
  version: 1.0.0
  contact:
    name: Unstoppable Domains
    url: https://unstoppabledomains.com
    email: support@unstoppabledomains.com
  x-logo:
    url: https://unstoppabledomains.com/images/logos/ud-logo-icon.svg
servers:
- url: https://api.unstoppabledomains.com
  description: Production server
tags:
- name: Session
  description: Generate authenticated browser URLs for account and checkout flows that require web handoff.
paths:
  /mcp/v1/actions/ud_authenticated_url_get:
    post:
      operationId: authenticatedUrlGet
      tags:
      - Session
      summary: Generate an authenticated URL for browser sign-in
      description: Creates a one-time URL that automatically signs the user in and redirects to the specified page. Use this whenever the user needs to complete an action in the browser (e.g., adding a payment method, managing account settings). The URL expires after 60 seconds and is single-use.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  pattern: ^/
                  minLength: 1
                  description: Page path to open in the browser, e.g. "/account/payments/card"
      responses:
        '200':
          description: Authenticated URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: One-time authenticated URL (valid for 60 seconds)
                  expiresIn:
                    type: number
                    description: Seconds until the URL expires
                  instructions:
                    type: string
                    description: Guidance for the user
        '401':
          description: Authentication required
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for authenticated operations. Obtain from your Unstoppable Domains account settings.
