openapi: 3.2.0
info:
  title: Unstoppable Domains Suggestions API
  version: '1.0'
  description: 'Operations tagged suggestions across 2 of this provider''s published API definitions: unstoppable-domains-partner-api-openapi.yaml, unstoppable-domains-reseller-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.unstoppabledomains.com/partner/v3
  description: Production
- url: https://api.ud-sandbox.com/partner/v3
  description: Sandbox
security:
- bearer: []
tags:
- name: suggestions
  x-displayName: Suggestions
  description: Suggestions for finding available domains
paths:
  /suggestions/domains:
    get:
      operationId: getSuggestions
      summary: Get suggested domains that are available for registering
      description: All domains returned by this route are available for registration
      parameters:
      - name: tlds
        required: false
        deprecated: true
        description: Use `ending` instead
        in: query
        schema:
          type: array
          items:
            type: string
            example: crypto
      - name: ending
        required: false
        in: query
        description: TLD or Parent Domain to apply to your `query` base names
        schema:
          type: array
          items:
            anyOf:
            - type: string
              example: crypto
            - $ref: '#/components/schemas/DomainName'
      - name: query
        required: true
        in: query
        schema:
          type: array
          items:
            anyOf:
            - type: string
              example: example-name
            - $ref: '#/components/schemas/DomainName'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestionsResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ValidationError:
                  $ref: '#/components/examples/ValidationError'
      tags:
      - suggestions
    servers:
    - url: https://api.unstoppabledomains.com/partner/v3
      description: Production
    - url: https://api.ud-sandbox.com/partner/v3
      description: Sandbox
components:
  schemas:
    SuggestionsResponseItem:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.DomainSuggestion
        name:
          $ref: '#/components/schemas/DomainName'
        price:
          $ref: '#/components/schemas/DomainPriceResponse'
      required:
      - name
      - price
      - '@type'
    DomainPriceItemResponse:
      type: object
      properties:
        usdCents:
          type: number
          example: 1000
      required:
      - usdCents
    ErrorResponseContext:
      type: object
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseContextEntity'
      required:
      - entities
    ErrorResponseSingle:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        context:
          $ref: '#/components/schemas/ErrorResponseContext'
    ErrorResponse:
      oneOf:
      - $ref: '#/components/schemas/ErrorResponseSingle'
      - $ref: '#/components/schemas/ErrorResponseMulti'
    ErrorResponseMulti:
      type: object
      properties:
        code:
          type: string
          enum:
          - MULTIPLE_ERRORS
        message:
          type: string
        context:
          $ref: '#/components/schemas/ErrorResponseContext'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseSingle'
      required:
      - code
      - errors
    ErrorResponseContextEntity:
      oneOf:
      - $ref: '#/components/schemas/ErrorResponseContextEntitySingle'
      - $ref: '#/components/schemas/ErrorResponseContextEntityMulti'
    ErrorResponseContextEntitySingle:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
      required:
      - type
      - value
    SuggestionsResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.List
        items:
          type: array
          items:
            $ref: '#/components/schemas/SuggestionsResponseItem'
      required:
      - items
      - '@type'
    DomainPriceType:
      type: string
      enum:
      - STANDARD
      - PREMIUM
      - DEFERRED
      description: "- `STANDARD`: Domain is priced using the default, standard pricing algorithm\n- `PREMIUM`: Domain is considered premium by the registry and pricing may differ from the standard pricing\n- `DEFERRED`: Domain pricing is not available and an additional request is needed to determine pricing. \n  - This can be a limitation of the bulk domain searches due to constraints with checking prices for some registries\n  - When requesting a single domain the price will always be included (if available) and this status will not be returned\n"
    ErrorResponseContextEntityMulti:
      type: object
      properties:
        type:
          type: string
          enum:
          - MULTI_VALUE
        values:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseContextEntitySingle'
      required:
      - type
      - values
    DomainName:
      type: string
      example: matt.crypto
    DomainPriceResponse:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DomainPriceType'
        listPrice:
          $ref: '#/components/schemas/DomainPriceItemResponse'
        subTotal:
          $ref: '#/components/schemas/DomainPriceItemResponse'
      required:
      - type
      - listPrice
      - subTotal
    SuggestionsResponseItem_2:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.DomainSuggestion
        name:
          type: string
        price:
          $ref: '#/components/schemas/DomainPriceResponse_2'
      required:
      - '@type'
      - name
      - price
    DomainPriceAdjustmentResponse:
      type: object
      properties:
        usdCents:
          type: number
        type:
          type: string
          enum: []
      required:
      - usdCents
      - type
    ErrorResponse_2:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: VALIDATION
        message:
          type: string
          description: Human-readable error description
        errors:
          type: array
          description: Individual errors when code is MULTIPLE_ERRORS
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
      required:
      - code
    SuggestionsResponse_2:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.List
        items:
          type: array
          items:
            $ref: '#/components/schemas/SuggestionsResponseItem_2'
      required:
      - '@type'
      - items
    PriceItemResponse:
      type: object
      properties:
        usdCents:
          type: number
      required:
      - usdCents
    DomainPriceResponse_2:
      type: object
      properties:
        type:
          type: string
          enum:
          - STANDARD
          - PREMIUM
          - DEFERRED
        listPrice:
          $ref: '#/components/schemas/PriceItemResponse'
        adjustments:
          type: array
          items:
            $ref: '#/components/schemas/DomainPriceAdjustmentResponse'
        subTotal:
          $ref: '#/components/schemas/PriceItemResponse'
        validUntilTimestamp:
          type: number
      required:
      - type
      - listPrice
      - subTotal
  examples:
    ValidationError:
      description: Validation error due to incorrect parameters.
      value:
        code: VALIDATION
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- unstoppable-domains-partner-api-openapi.yaml
- unstoppable-domains-reseller-api-openapi.yaml
