openapi: 3.2.0
info:
  title: Unstoppable Domains Contacts API
  version: 1.0.0
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged contacts across 2 of this provider''s published API definitions: unstoppable-domains-reseller-api-openapi.yaml, unstoppable-domains-user-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.unstoppabledomains.com/partner/v3
  description: Production
- url: https://api.ud-sandbox.com/partner/v3
  description: Sandbox
- url: https://api.unstoppabledomains.com
  description: Production server
tags:
- name: contacts
  description: 'Create and manage ICANN-required contacts for domain registration. Contacts represent individuals or organizations associated with domain roles (owner, admin, tech, billing).


    New contacts are automatically sent a verification email upon creation. Contacts can be used in domain registrations immediately, but domains associated with unverified contacts may become unmanageable after a certain period.

    '
  x-displayName: Contacts
paths:
  /contacts/{contactId}:
    get:
      operationId: getContact
      parameters:
      - name: contactId
        required: true
        in: path
        schema:
          type: string
          pattern: ^ct-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          example: ct-a1b2c3d4-e5f6-7890-abcd-ef1234567890
        description: 'Contact ID (format: ct-<uuid>)'
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - contacts
      summary: Get a contact
      description: 'Retrieve the details of a specific contact by ID, including personal information, address, phone, email, and verification status.

        '
      security:
      - bearer: []
    servers:
    - url: https://api.unstoppabledomains.com/partner/v3
      description: Production
    - url: https://api.ud-sandbox.com/partner/v3
      description: Sandbox
  /contacts:
    post:
      operationId: createContact
      parameters:
      - name: $preview
        required: true
        in: query
        schema:
          default: false
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequestBody'
      responses:
        '201':
          description: Contact creation operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOperationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - contacts
      summary: Create a contact
      description: 'Create a new contact for use in domain registration and management. A verification email will be sent to the contact''s email address. Use `$preview=true` to validate without creating the contact.

        '
      security:
      - bearer: []
    servers:
    - url: https://api.unstoppabledomains.com/partner/v3
      description: Production
    - url: https://api.ud-sandbox.com/partner/v3
      description: Sandbox
  /mcp/v1/actions/ud_contacts_list:
    post:
      operationId: contactsList
      summary: List ICANN contacts
      description: List ICANN contacts configured for the authenticated user's account. Required for DNS domain registration (.com, .org, etc.).
      tags:
      - contacts
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                includeDisabled:
                  type: boolean
                  description: 'Include disabled contacts (default: false)'
      responses:
        '200':
          description: List of ICANN contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsListResponse'
        '401':
          description: Authentication required
    servers:
    - url: https://api.unstoppabledomains.com
      description: Production server
  /mcp/v1/actions/ud_contact_create:
    post:
      operationId: contactCreate
      summary: Create ICANN contact
      description: Create a new ICANN contact for DNS domain registration. Required for .com, .org, .net, etc.
      tags:
      - contacts
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - firstName
              - lastName
              - email
              - phone
              - street
              - city
              - stateProvince
              - postalCode
              - countryCode
              properties:
                firstName:
                  type: string
                  description: Contact first name
                lastName:
                  type: string
                  description: Contact last name
                email:
                  type: string
                  format: email
                  description: Contact email address
                phone:
                  type: object
                  required:
                  - dialingPrefix
                  - number
                  properties:
                    dialingPrefix:
                      type: string
                      description: Phone country code (e.g., "1")
                    number:
                      type: string
                      description: Phone number
                street:
                  type: string
                  description: Street address
                city:
                  type: string
                  description: City
                stateProvince:
                  type: string
                  description: State/province code
                postalCode:
                  type: string
                  description: Postal/ZIP code
                countryCode:
                  type: string
                  description: Two-letter ISO country code
                organization:
                  type: string
                  description: Company name (optional)
      responses:
        '200':
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateResponse'
        '401':
          description: Authentication required
    servers:
    - url: https://api.unstoppabledomains.com
      description: Production server
components:
  schemas:
    PlatformOperationDomainDnsSecuritySetDnssec:
      type: object
      description: Configures DNSSEC DS records at the registry for a domain
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_DNS_SECURITY_SET_DNSSEC
        parameters:
          type: object
          properties:
            domain:
              type: string
              description: Domain name
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactCreateOperationResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.ContactOperationResult
        operation:
          $ref: '#/components/schemas/OperationCheckResponse'
      required:
      - '@type'
      - operation
    OperationCheckResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.Operation
        id:
          type: string
          description: Operation ID
          pattern: ^op-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          example: op-a1b2c3d4-e5f6-7890-abcd-ef1234567890
        status:
          enum:
          - PREVIEW
          - QUEUED
          - PROCESSING
          - FAILED
          - COMPLETED
          - CANCELLED
          - AWAITING_UPDATES
          type: string
        type:
          type: string
          enum:
          - ADMIN_GENERIC
          - DOMAIN_ADMIN_UPDATE
          - DOMAIN_RENEW
          - ACCOUNT_UPDATE
          - DOMAIN_DNS_RECORD_CREATE
          - DOMAIN_DNS_RECORD_UPDATE
          - DOMAIN_DNS_RECORD_DELETE
          - DOMAIN_DNS_RECORD_BATCH
          - DOMAIN_DNS_SECURITY_ENABLE
          - DOMAIN_DNS_SECURITY_DELETE
          - DOMAIN_DNS_NAME_SERVER_UPDATE
          - DOMAIN_HOSTING_UPDATE
          - DOMAIN_HOSTING_DISABLE
          - DOMAIN_TRANSFER_OUT
          - DOMAIN_TRANSFER_OUT_TOGGLE
          - DOMAIN_FLAGS_UPDATE
          - DOMAIN_CONTACTS_UPDATE
          - CONTACT_CREATE
          - DOMAIN_SUGGESTION_CREATE
          - DOMAIN_SUGGESTION_REFRESH
          - DOMAIN_ADMIN_DNS_ZONE_MIGRATE
        domain:
          type: string
        createdAtTimestamp:
          type: number
        lastUpdatedTimestamp:
          type: number
        validUntilTimestamp:
          type: number
        dependencies:
          type: array
          description: List of platform operation dependencies that make up this operation
          items:
            $ref: '#/components/schemas/PlatformOperationDependency'
      required:
      - '@type'
      - id
      - status
      - type
      - createdAtTimestamp
      - lastUpdatedTimestamp
      - dependencies
    PlatformOperationStatus:
      type: string
      enum:
      - PREVIEW
      - QUEUED
      - PROCESSING
      - FAILED
      - COMPLETED
      - CANCELLED
      - AWAITING_UPDATES
      description: Status of a platform operation dependency
    PlatformOperationDnsRecordUpdate:
      type: object
      description: Updates an existing DNS record
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DNS_RECORD_UPDATE
        parameters:
          type: object
          properties:
            id:
              type: string
              description: DNS record ID to update
            values:
              type: array
              items:
                type: string
            ttl:
              type: integer
              description: Time-to-live in seconds
          required:
          - id
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactPhoneRequestBody:
      type: object
      properties:
        number:
          type: string
          minLength: 6
          maxLength: 14
          description: Phone number digits (numeric string, 6-14 characters).
        dialingPrefix:
          type: string
          description: International dialing prefix (e.g., "+1" for US/CA, "+44" for UK).
          example: '+1'
      required:
      - number
      - dialingPrefix
      description: Phone number with international dialing prefix.
    PlatformOperationDomainFlagLockUpdate:
      type: object
      description: Updates domain flag lock settings (e.g., transfer lock, delete lock)
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_FLAG_LOCK_UPDATE
        parameters:
          type: object
          properties:
            locks:
              $ref: '#/components/schemas/DomainFlagLocks'
            policyLocks:
              $ref: '#/components/schemas/DomainFlagLocks'
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    DomainContactCiraResponse:
      type: object
      properties:
        registrantAgreementAcknowledged:
          type: boolean
        preferredLanguageCode:
          $ref: '#/components/schemas/CiraLanguageCode'
        canadianPresenceRequirement:
          $ref: '#/components/schemas/CiraCanadianPresenceRequirement'
      required:
      - registrantAgreementAcknowledged
      - preferredLanguageCode
      - canadianPresenceRequirement
    PlatformOperationDomainRegister:
      type: object
      description: Registers a new domain with the specified owner contact and optional role contacts
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_REGISTER
        parameters:
          type: object
          properties:
            owner:
              $ref: '#/components/schemas/ContactAssignment'
            contacts:
              $ref: '#/components/schemas/NonRegistrantContacts'
            period:
              type: integer
              description: Registration period in years
              example: 1
          required:
          - owner
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactVerificationResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - VERIFIED
          - FAILED
          - PENDING
          - REQUESTED
          - UNVERIFIED
          - SUSPENDED
        timestamp:
          type: number
      required:
      - status
    ContactResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.Contact
        id:
          type: string
          description: Contact ID
          pattern: ^ct-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          example: ct-a1b2c3d4-e5f6-7890-abcd-ef1234567890
        firstName:
          type: string
        lastName:
          type: string
        organization:
          type: string
        countryCode:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        stateProvince:
          type: string
        phone:
          $ref: '#/components/schemas/ContactPhoneResponse'
        email:
          type: string
        tldData:
          $ref: '#/components/schemas/DomainOwnerContactTldSpecificResponse'
        verification:
          $ref: '#/components/schemas/ContactVerificationResponse'
      required:
      - '@type'
      - id
      - firstName
      - lastName
      - countryCode
      - street
      - city
      - postalCode
      - stateProvince
      - phone
      - email
    PlatformOperationContactCreate:
      type: object
      description: Creates a new contact for use in domain registration or management
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - CONTACT_CREATE
        parameters:
          type: object
          properties:
            purposes:
              type: array
              items:
                $ref: '#/components/schemas/ContactPurpose'
              description: Intended roles for this contact
              example:
              - OWNER
              - ADMIN
          required:
          - purposes
        result:
          type: object
          properties:
            id:
              type: string
              description: ID of the created contact
              example: ct-a1b2c3d4-e5f6-7890-abcd-ef1234567890
          required:
          - id
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    PlatformOperationDomainSetNameServers:
      type: object
      description: Sets the nameservers for a domain (external nameservers or revert to UD-managed)
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_SET_NAMESERVERS
        parameters:
          type: object
          properties:
            items:
              type: array
              items:
                type: string
              description: Nameserver hostnames
              example:
              - ns1.example.com
              - ns2.example.com
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactAssignment:
      type: object
      description: Reference to an existing or newly created contact
      properties:
        new:
          type: boolean
          description: Whether this contact is being newly created as part of this operation
        id:
          type: string
          description: Contact ID (present when new is false)
          example: con_abc12345-1234-1234-1234-abc123456789
      required:
      - new
    PlatformOperationDomainDnsSecurityDeleteDnssec:
      type: object
      description: Removes DNSSEC DS records from the registry for a domain
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_DNS_SECURITY_DELETE_DNSSEC
        parameters:
          type: object
          properties:
            domain:
              type: string
              description: Domain name
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: VALIDATION
        message:
          type: string
          description: Human-readable error description
        errors:
          type: array
          description: Individual errors when code is MULTIPLE_ERRORS
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
      required:
      - code
    WebhookType:
      type: string
      enum:
      - OPERATION_FINISHED
      - OPERATION_ACTION_REQUIRED
      - OPERATION_CREATED
    DnsRecordType:
      type: string
      enum:
      - A
      - AAAA
      - ALIAS
      - CAA
      - CNAME
      - DNSKEY
      - DS
      - HTTPS
      - IPSECKEY
      - MX
      - NAPTR
      - NS
      - PTR
      - SOA
      - SPF
      - SRV
      - SSHFP
      - SVCB
      - TLSA
      - TXT
    PlatformOperationWebhookDelete:
      type: object
      description: Deletes a webhook subscription
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - WEBHOOK_DELETE
        parameters:
          type: object
          properties:
            id:
              type: string
              description: Webhook ID to delete
          required:
          - id
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactCreateRequestBody:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        organization:
          type: string
          maxLength: 100
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code (e.g., "US", "CA", "GB")
        street:
          type: string
          maxLength: 100
        city:
          type: string
          maxLength: 100
        postalCode:
          type: string
          description: Postal/ZIP code. Validated against the provided countryCode.
        stateProvince:
          type: string
          description: State or province. Validated against the provided countryCode.
        phone:
          $ref: '#/components/schemas/ContactPhoneRequestBody'
        email:
          type: string
          maxLength: 100
          format: email
      required:
      - firstName
      - lastName
      - countryCode
      - street
      - city
      - postalCode
      - stateProvince
      - phone
      - email
      description: Create a standalone contact that can be referenced by ID in domain registration and contact update operations.
    PlatformOperationDomainDnsContactSet:
      type: object
      description: Updates contact role assignments for the domain
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_DNS_CONTACT_SET
        parameters:
          type: object
          properties:
            owner:
              $ref: '#/components/schemas/ContactAssignment'
            admin:
              $ref: '#/components/schemas/ContactAssignment'
            billing:
              $ref: '#/components/schemas/ContactAssignment'
            tech:
              $ref: '#/components/schemas/ContactAssignment'
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    CiraLanguageCode:
      type: string
      enum:
      - en_US
      - fr_CA
      - en
      - fr
      description: CIRA preferred language code
    PlatformOperationDomainDnsRenew:
      type: object
      description: Renews a domain for the specified period
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_DNS_RENEW
        parameters:
          type: object
          properties:
            period:
              type: integer
              description: Renewal period in years
              example: 1
          required:
          - period
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    PlatformOperationDnsRecordCreate:
      type: object
      description: Creates a new DNS record for the domain
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DNS_RECORD_CREATE
        parameters:
          type: object
          properties:
            subName:
              type: string
              description: Subdomain name (empty for apex domain)
              example: www
            type:
              $ref: '#/components/schemas/DnsRecordType'
            values:
              type: array
              items:
                type: string
              example:
              - 192.0.2.1
            ttl:
              type: integer
              description: Time-to-live in seconds
              example: 300
          required:
          - type
          - values
          - ttl
        result:
          type: object
          properties:
            id:
              type: string
              description: ID of the created DNS record
          required:
          - id
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    DomainOwnerContactTldSpecificResponse:
      type: object
      properties:
        ca:
          $ref: '#/components/schemas/DomainContactCiraResponse'
    OperationDependencyError:
      type: object
      description: Error details for a failed operation dependency
      properties:
        code:
          type: string
          description: Error code identifying the failure type
        message:
          type: string
          description: Human-readable error description
      required:
      - code
      - message
    PlatformOperationDnsRecordDelete:
      type: object
      description: Deletes a DNS record
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DNS_RECORD_DELETE
        parameters:
          type: object
          properties:
            id:
              type: string
              description: DNS record ID to delete
          required:
          - id
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    PlatformOperationWebhookCreate:
      type: object
      description: Creates a webhook subscription
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - WEBHOOK_CREATE
        parameters:
          type: object
          properties:
            url:
              type: string
              description: Webhook callback URL
              example: https://example.com/webhooks
            type:
              $ref: '#/components/schemas/WebhookType'
          required:
          - url
          - type
        result:
          type: object
          properties:
            id:
              type: string
              description: ID of the created webhook
          required:
          - id
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactPhoneResponse:
      type: object
      properties:
        number:
          type: string
        dialingPrefix:
          type: string
      required:
      - number
      - dialingPrefix
    PlatformOperationDependency:
      description: A platform operation dependency. Discriminated by the `type` field — each type has its own `parameters` and `result` shape.
      oneOf:
      - $ref: '#/components/schemas/PlatformOperationDomainRegister'
      - $ref: '#/components/schemas/PlatformOperationDomainDnsRenew'
      - $ref: '#/components/schemas/PlatformOperationDnsRecordCreate'
      - $ref: '#/components/schemas/PlatformOperationDnsRecordUpdate'
      - $ref: '#/components/schemas/PlatformOperationDnsRecordDelete'
      - $ref: '#/components/schemas/PlatformOperationDomainSetNameServers'
      - $ref: '#/components/schemas/PlatformOperationDomainDnsSecuritySetDnssec'
      - $ref: '#/components/schemas/PlatformOperationDomainDnsSecurityDeleteDnssec'
      - $ref: '#/components/schemas/PlatformOperationDomainDnsSecurityUpdateZone'
      - $ref: '#/components/schemas/PlatformOperationDomainFlagLockUpdate'
      - $ref: '#/components/schemas/PlatformOperationDomainDnsContactSet'
      - $ref: '#/components/schemas/PlatformOperationContactCreate'
      - $ref: '#/components/schemas/PlatformOperationWebhookCreate'
      - $ref: '#/components/schemas/PlatformOperationWebhookDelete'
      discriminator:
        propertyName: type
        mapping:
          DOMAIN_REGISTER: '#/components/schemas/PlatformOperationDomainRegister'
          DOMAIN_DNS_RENEW: '#/components/schemas/PlatformOperationDomainDnsRenew'
          DNS_RECORD_CREATE: '#/components/schemas/PlatformOperationDnsRecordCreate'
          DNS_RECORD_UPDATE: '#/components/schemas/PlatformOperationDnsRecordUpdate'
          DNS_RECORD_DELETE: '#/components/schemas/PlatformOperationDnsRecordDelete'
          DOMAIN_SET_NAMESERVERS: '#/components/schemas/PlatformOperationDomainSetNameServers'
          DOMAIN_DNS_SECURITY_SET_DNSSEC: '#/components/schemas/PlatformOperationDomainDnsSecuritySetDnssec'
          DOMAIN_DNS_SECURITY_DELETE_DNSSEC: '#/components/schemas/PlatformOperationDomainDnsSecurityDeleteDnssec'
          DOMAIN_DNS_SECURITY_UPDATE_ZONE: '#/components/schemas/PlatformOperationDomainDnsSecurityUpdateZone'
          DOMAIN_FLAG_LOCK_UPDATE: '#/components/schemas/PlatformOperationDomainFlagLockUpdate'
          DOMAIN_DNS_CONTACT_SET: '#/components/schemas/PlatformOperationDomainDnsContactSet'
          CONTACT_CREATE: '#/components/schemas/PlatformOperationContactCreate'
          WEBHOOK_CREATE: '#/components/schemas/PlatformOperationWebhookCreate'
          WEBHOOK_DELETE: '#/components/schemas/PlatformOperationWebhookDelete'
    DomainFlagLocks:
      type: object
      description: Map of domain flag names to boolean lock values. Keys are DomainFlagType values.
      additionalProperties:
        type: boolean
      example:
        DNS_TRANSFER_OUT: true
        DNS_DELETE: false
    NonRegistrantContacts:
      type: object
      description: Non-registrant contact role assignments (admin, billing, tech)
      properties:
        admin:
          $ref: '#/components/schemas/ContactAssignment'
        billing:
          $ref: '#/components/schemas/ContactAssignment'
        tech:
          $ref: '#/components/schemas/ContactAssignment'
    PlatformOperationDomainDnsSecurityUpdateZone:
      type: object
      description: Updates the DNS zone configuration for DNSSEC signing
      properties:
        id:
          type: string
          example: plop_abc12345-1234-1234-1234-abc123456789
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.PlatformOperation
        status:
          $ref: '#/components/schemas/PlatformOperationStatus'
        type:
          type: string
          enum:
          - DOMAIN_DNS_SECURITY_UPDATE_ZONE
        parameters:
          type: object
          properties:
            domain:
              type: string
              description: Domain name
        error:
          $ref: '#/components/schemas/OperationDependencyError'
      required:
      - id
      - '@type'
      - status
      - type
      - parameters
    ContactPurpose:
      type: string
      enum:
      - OWNER
      - ADMIN
      - TECH
      - BILLING
    CiraCanadianPresenceRequirement:
      type: string
      enum:
      - CCT
      - LGR
      - RES
      - ABO
      - CCO
      - ASS
      - PRT
      - TDM
      - TRD
      - PLT
      - TRS
      - LAM
      - EDU
      - HOP
      - GOV
      - INB
      - OMK
      - MAJ
      description: CIRA Canadian Presence Requirement category
    ContactCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        contact:
          type: object
          properties:
            operationId:
              type: string
            status:
              type: string
        message:
          type: string
    ContactsListResponse:
      type: object
      properties:
        contacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Contact ID
              firstName:
                type: string
              lastName:
                type: string
              email:
                type: string
                description: Partially masked email
              phone:
                type: string
                description: Partially masked phone
              city:
                type: string
              stateProvince:
                type: string
              countryCode:
                type: string
              organization:
                type: string
              status:
                type: string
                enum:
                - active
                - draft
                - admin_disabled
                description: 'Contact status: "active" = ready for checkout, "draft" = syncing with registrar (wait a few seconds), "admin_disabled" = cannot be used'
        count:
          type: number
          description: Total number of contacts
        accountEmail:
          type:
          - string
          - 'null'
          description: User's account email (masked) - suggest using for new contacts for auto-verification
        accountEmailHint:
          type:
          - string
          - 'null'
          description: Tip about automatic verification when contact email matches account email
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for authenticated operations. Obtain from your Unstoppable Domains account settings.
x-refined-from:
- unstoppable-domains-reseller-api-openapi.yaml
- unstoppable-domains-user-api-openapi.json
