openapi: 3.2.0
info:
  title: Reseller Tlds API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Reseller Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: '# Feature Overview

    The Reseller API provides domain reseller partners with the ability to search, register and manage traditional DNS domains. The API exposes a RESTful interface for domain registration, DNS management, and domain lifecycle operations.

    - **Domain Discovery**: Search for specific domains or find suggested alternatives, determine pricing, availability and registration details

    - **Domain Registration**: Register domains with full control over registration period, contacts, and initial DNS configuration

    - **DNS Management**: Create, update and delete DNS records for your domains

    - **Domain Lifecycle**: Manage renewals, transfers, contacts, and domain flags through a simple API interface

    - **Marketplace**: Browse secondary marketplace listings to find premium domains available for purchase from existing owners


    For access, authentication, environments, and your first request, start with the [Quick Start](/apis/reseller/quick-start).


    For implementation guidance on operations, flags, registration flows, contact management, DNS management, webhooks, and lifecycle operations, see the [Implementation Guide](/apis/reseller/implementation-guide).

    '
servers:
- url: https://api.unstoppabledomains.com/partner/v3
  description: Production
- url: https://api.ud-sandbox.com/partner/v3
  description: Sandbox
security:
- bearer: []
tags:
- name: tlds
  description: Browse available top-level domains (TLDs), their details, and DNS security configuration.
  x-displayName: TLDs
paths:
  /tlds/{tld}/dns/security:
    get:
      operationId: getTldDnsSecurityConfiguration
      parameters:
      - name: tld
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: TLD DNSSEC configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldDnsSecurityConfigurationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - tlds
      summary: Get TLD DNSSEC configuration
      description: 'Retrieve the supported DNSSEC algorithms and digest types for the specified TLD.

        '
  /tlds:
    get:
      operationId: getTldList
      parameters: []
      responses:
        '200':
          description: List of available TLDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldListResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - tlds
      summary: List available TLDs
      description: 'Retrieve a list of all available top-level domains (TLDs) including their naming system and registration availability.

        '
  /tlds/{tld}:
    get:
      operationId: getSingleTld
      parameters:
      - name: tld
        required: true
        in: path
        schema:
          maxLength: 63
          type: string
      responses:
        '200':
          description: TLD details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - tlds
      summary: Get TLD details
      description: 'Retrieve details for a specific top-level domain (TLD) including its naming system and registration availability.

        '
components:
  schemas:
    DnssecAlgorithm:
      type: integer
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 10
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 23
      - 252
      - 253
      - 254
      description: DNSSEC algorithm identifier (RFC 8624)
    TldDnsSecurityConfigurationDnssecDigestTypeResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DnssecDigestType'
        name:
          type: string
      required:
      - id
      - name
    TldResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.Tld
        name:
          type: string
        namingSystem:
          enum:
          - UNS
          - ICANN
          - ENS
          type: string
        canRegister:
          type: boolean
      required:
      - '@type'
      - name
      - namingSystem
      - canRegister
    TldDnsSecurityConfigurationResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.TldDnsSecurityConfiguration
        dnssec:
          $ref: '#/components/schemas/TldDnsSecurityConfigurationDnssecResponse'
      required:
      - '@type'
      - dnssec
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: VALIDATION
        message:
          type: string
          description: Human-readable error description
        errors:
          type: array
          description: Individual errors when code is MULTIPLE_ERRORS
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
      required:
      - code
    TldDnsSecurityConfigurationDnssecResponse:
      type: object
      properties:
        supported:
          type: boolean
        algorithms:
          type: array
          items:
            $ref: '#/components/schemas/TldDnsSecurityConfigurationDnssecAlgorithmResponse'
        digestTypes:
          type: array
          items:
            $ref: '#/components/schemas/TldDnsSecurityConfigurationDnssecDigestTypeResponse'
      required:
      - supported
      - algorithms
      - digestTypes
    TldListResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.List
        items:
          type: array
          items:
            $ref: '#/components/schemas/TldResponse'
      required:
      - '@type'
      - items
    TldDnsSecurityConfigurationDnssecAlgorithmResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/DnssecAlgorithm'
        name:
          type: string
      required:
      - id
      - name
    DnssecDigestType:
      type: integer
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      description: DNSSEC digest type identifier (RFC 8624)
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Domains
  tags:
  - domain-search
  - suggestions
  - domain-registration
  - domain-management
  - dns-records
  - domain-transfers
  - domain-flags
  - domain-contacts
- name: Marketplace
  tags:
  - marketplace
- name: Discovery
  tags:
  - pricing
  - tlds
- name: Contacts
  tags:
  - contacts
- name: Operations
  tags:
  - operations
- name: Hosting
  tags:
  - hosting
- name: Account
  tags:
  - account
