openapi: 3.2.0
info:
  title: Resolution Service Rpc Proxy API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: The Resolution Service provides APIs for resolving domain metadata and records from multiple blockchain and naming services.
servers:
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Rpc Proxy
paths:
  /chains/eth/rpc:
    post:
      operationId: RpcProxyController.proxyEth
      requestBody:
        content:
          application/json:
            schema: {}
        description: ''
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RpcResponse'
          description: ''
      summary: Proxy eth
      tags:
      - Rpc Proxy
      description: '**Ethereum RPC provider to interact with Unstoppable Domain Smart Contract**

        This endpoint is meant to be use by Unstoppable Domains''s SDKs to query directly onchain data'
  /chains/matic/rpc:
    post:
      operationId: RpcProxyController.proxyPol
      requestBody:
        content:
          application/json:
            schema: {}
        description: ''
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RpcResponse'
          description: ''
      summary: Proxy pol
      tags:
      - Rpc Proxy
      description: '**Polygon RPC provider to interact with Unstoppable Domain Smart Contract**

        This endpoint is meant to be use by Unstoppable Domains''s SDKs to query directly onchain data'
components:
  schemas:
    RpcResponse:
      properties:
        jsonrpc:
          type: string
        id:
          type: number
        data:
          type: string
        error:
          type: string
      type: object
      required:
      - jsonrpc
      - id
      - error
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
