openapi: 3.2.0
info:
  title: User AI Lander API
  description: 'Search, check availability, and purchase traditional DNS domains. This API enables AI assistants to help users find and buy domain names.


    When using the API directly, you will need an API key. See [API Key setup](/user-api/overview#api-key-advanced) for instructions.'
  version: 1.0.0
  contact:
    name: Unstoppable Domains
    url: https://unstoppabledomains.com
    email: support@unstoppabledomains.com
  x-logo:
    url: https://unstoppabledomains.com/images/logos/ud-logo-icon.svg
servers:
- url: https://api.unstoppabledomains.com
  description: Production server
tags:
- name: AI Lander
  description: Generate, manage, and remove AI-powered landing pages for domains (requires authentication)
paths:
  /mcp/v1/actions/ud_domain_generate_lander:
    post:
      operationId: generateLander
      summary: Generate AI landing page for domains
      description: Trigger AI-generated landing page creation for one or more domains. Enqueues asynchronous generation jobs. Use ud_domain_lander_status to check progress.
      tags:
      - AI Lander
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: Domain name to generate a lander for (e.g., "example.com")
                  minItems: 1
                  maxItems: 50
                  description: Array of domains (1-50)
                instructions:
                  type: string
                  maxLength: 2000
                  description: Optional custom instructions to guide AI generation (e.g., tone, color scheme, content focus). Applied to all domains in the request.
      responses:
        '200':
          description: Generation jobs enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        success:
                          type: boolean
                        jobId:
                          type: string
                        error:
                          type: string
                  successCount:
                    type: number
                  failureCount:
                    type: number
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_domain_lander_status:
    post:
      operationId: landerStatus
      summary: Check AI lander generation status
      description: Check the status of AI landing page generation for one or more domains. Returns pending, generating, processing, hosted, failed, or none.
      tags:
      - AI Lander
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: Domain name to check (e.g., "example.com")
                  minItems: 1
                  maxItems: 50
                  description: Array of domains (1-50)
      responses:
        '200':
          description: Lander status results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        status:
                          type: string
                          enum:
                          - pending
                          - generating
                          - processing
                          - hosted
                          - failed
                          - none
                        hostingType:
                          type: string
                        error:
                          type: string
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_domain_download_lander:
    post:
      operationId: downloadLander
      summary: Download landing page content from domains
      description: Download existing hosted lander files from one or more domains. Single-page landers return raw HTML (htmlContent); multi-file sites return a base64-encoded zip (zipContent).
      tags:
      - AI Lander
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: Domain name to download lander content for (e.g., "example.com")
                  minItems: 1
                  maxItems: 50
                  description: Array of domains (1-50)
      responses:
        '200':
          description: Download results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        success:
                          type: boolean
                        format:
                          type: string
                          enum:
                          - html
                          - zip
                          description: 'Content format: "html" for single-page landers, "zip" for multi-file sites'
                        htmlContent:
                          type: string
                          description: Raw HTML string (when format is "html")
                        zipContent:
                          type: string
                          description: Base64-encoded zip file (when format is "zip")
                        error:
                          type: string
                  successCount:
                    type: number
                  failureCount:
                    type: number
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_domain_remove_lander:
    post:
      operationId: removeLander
      summary: Remove AI landing page from domains
      description: Remove AI-generated landing pages and hosting configuration from one or more domains. Deletes GCS content and removes hosting config.
      tags:
      - AI Lander
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: Domain name to remove lander from (e.g., "example.com")
                  minItems: 1
                  maxItems: 50
                  description: Array of domains (1-50)
      responses:
        '200':
          description: Lander removal results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        success:
                          type: boolean
                        operationId:
                          type: string
                        error:
                          type: string
                  successCount:
                    type: number
                  failureCount:
                    type: number
        '401':
          description: Authentication required
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for authenticated operations. Obtain from your Unstoppable Domains account settings.
