openapi: 3.2.0
info:
  title: User Leads API
  description: 'Search, check availability, and purchase traditional DNS domains. This API enables AI assistants to help users find and buy domain names.


    When using the API directly, you will need an API key. See [API Key setup](/user-api/overview#api-key-advanced) for instructions.'
  version: 1.0.0
  contact:
    name: Unstoppable Domains
    url: https://unstoppabledomains.com
    email: support@unstoppabledomains.com
  x-logo:
    url: https://unstoppabledomains.com/images/logos/ud-logo-icon.svg
servers:
- url: https://api.unstoppabledomains.com
  description: Production server
tags:
- name: Leads
  description: Domain conversations and messaging between buyers and sellers (requires authentication)
paths:
  /mcp/v1/actions/ud_leads_list:
    post:
      operationId: leadsList
      summary: List domain conversation leads
      description: List conversations about domains you own or are interested in. Includes buyer-seller messaging threads.
      tags:
      - Leads
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: Filter by specific domain name (e.g., "example.crypto")
                skipEmpty:
                  type: boolean
                  description: 'Skip conversations with no messages (default: true)'
                  default: true
                skip:
                  type: integer
                  description: 'Number of conversations to skip (pagination offset, default: 0)'
                  default: 0
                  minimum: 0
                take:
                  type: integer
                  description: 'Number of conversations to return (1-100, default: 20)'
                  default: 20
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadsListResponse'
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_lead_get:
    post:
      operationId: leadGet
      summary: Get or create domain conversation
      description: Start or find an existing conversation with the seller of a domain. Returns existing conversation if one already exists.
      tags:
      - Leads
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domain
              properties:
                domain:
                  type: string
                  description: The domain name to inquire about (e.g., "example.crypto")
                buyerId:
                  type: string
                  description: 'Optional: Encoded buyer ID for sellers responding to offers'
      responses:
        '200':
          description: Conversation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSellerResponse'
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_lead_messages_list:
    post:
      operationId: leadMessagesList
      summary: List messages in a conversation
      description: Get messages in a domain conversation. Messages are returned newest-first with cursor-based pagination.
      tags:
      - Leads
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - conversationId
              properties:
                conversationId:
                  type: number
                  description: The conversation ID
                cursor:
                  type: string
                  description: Pagination cursor for loading older messages
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadMessagesListResponse'
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_lead_message_send:
    post:
      operationId: leadMessageSend
      summary: Send a message in a conversation
      description: Send a message in a domain conversation. Messages are encrypted at rest.
      tags:
      - Leads
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - conversationId
              - content
              properties:
                conversationId:
                  type: number
                  description: The conversation ID
                content:
                  type: string
                  maxLength: 1000
                  description: Message content (1-1000 characters)
      responses:
        '200':
          description: Sent message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadMessageSendResponse'
        '401':
          description: Authentication required
components:
  schemas:
    ContactSellerResponse:
      type: object
      properties:
        conversation:
          type: object
          properties:
            id:
              type: number
              description: Conversation ID
            domainName:
              type: string
            domainId:
              type: number
            createdAt:
              type: string
            participants:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  role:
                    type: string
                    enum:
                    - BUYER
                    - SELLER
            isExisting:
              type: boolean
              description: True if returning existing conversation
        message:
          type: string
    LeadMessagesListResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                description: Message ID
              content:
                type: string
              senderUserId:
                type: number
              createdAt:
                type: string
        hasMore:
          type: boolean
        nextCursor:
          type:
          - string
          - 'null'
        conversationId:
          type: number
    LeadsListResponse:
      type: object
      properties:
        leads:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                description: Conversation ID (use with ud_lead_messages_list)
              domainName:
                type: string
              domainId:
                type: number
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              shortLatestMessageContent:
                type: string
                description: Preview of latest message (truncated to 100 chars)
              unreadMessageCount:
                type: number
                description: Number of unread messages
              participants:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Encoded participant ID
                    role:
                      type: string
                      enum:
                      - BUYER
                      - SELLER
        total:
          type: number
          description: Total number of conversations matching filters
        skip:
          type: number
          description: Number of items skipped
        take:
          type: number
          description: Number of items returned
    LeadMessageSendResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            id:
              type: number
              description: Message ID
            content:
              type: string
            senderUserId:
              type: number
            createdAt:
              type: string
        conversationId:
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for authenticated operations. Obtain from your Unstoppable Domains account settings.
