openapi: 3.2.0
info:
  title: Reseller Pricing API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Reseller Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: '# Feature Overview

    The Reseller API provides domain reseller partners with the ability to search, register and manage traditional DNS domains. The API exposes a RESTful interface for domain registration, DNS management, and domain lifecycle operations.

    - **Domain Discovery**: Search for specific domains or find suggested alternatives, determine pricing, availability and registration details

    - **Domain Registration**: Register domains with full control over registration period, contacts, and initial DNS configuration

    - **DNS Management**: Create, update and delete DNS records for your domains

    - **Domain Lifecycle**: Manage renewals, transfers, contacts, and domain flags through a simple API interface

    - **Marketplace**: Browse secondary marketplace listings to find premium domains available for purchase from existing owners


    For access, authentication, environments, and your first request, start with the [Quick Start](/apis/reseller/quick-start).


    For implementation guidance on operations, flags, registration flows, contact management, DNS management, webhooks, and lifecycle operations, see the [Implementation Guide](/apis/reseller/implementation-guide).

    '
servers:
- url: https://api.unstoppabledomains.com/partner/v3
  description: Production
- url: https://api.ud-sandbox.com/partner/v3
  description: Sandbox
security:
- bearer: []
tags:
- name: pricing
  description: Retrieve pricing information for domain registration, renewal, transfer, and restoration by domain name or TLD.
  x-displayName: Pricing
paths:
  /pricing/dns/domains/{name}:
    get:
      operationId: getPricingDnsDomain
      parameters:
      - name: name
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Domain pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDnsPricingResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - pricing
      summary: Get domain pricing
      description: 'Retrieve pricing for a specific domain name, including registration, renewal, transfer, and restoration costs.

        '
  /pricing/dns/tlds:
    get:
      operationId: getPricingDnsTlds
      parameters: []
      responses:
        '200':
          description: List of TLD pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldDnsPricingListResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - pricing
      summary: List TLD pricing
      description: 'Retrieve pricing information for all available TLDs, including registration, renewal, transfer, and restoration costs.

        '
  /pricing/dns/tlds/{tld}:
    get:
      operationId: getPricingDnsSingleTld
      parameters:
      - name: tld
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: TLD pricing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldDnsPricingResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - pricing
      summary: Get single TLD pricing
      description: 'Retrieve pricing information for a specific TLD, including registration, renewal, transfer, and restoration costs.

        '
components:
  schemas:
    DomainDnsPricingResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.DomainDnsPricing
        registration:
          $ref: '#/components/schemas/DomainPriceResponse'
        renewal:
          $ref: '#/components/schemas/DomainPriceResponse'
        transfer:
          $ref: '#/components/schemas/DomainPriceResponse'
        restoration:
          $ref: '#/components/schemas/DomainPriceResponse'
        constraints:
          $ref: '#/components/schemas/DomainAvailabilityConstraintsResponse'
      required:
      - '@type'
    DomainPriceAdjustmentResponse:
      type: object
      properties:
        usdCents:
          type: number
        type:
          type: string
          enum: []
      required:
      - usdCents
      - type
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: VALIDATION
        message:
          type: string
          description: Human-readable error description
        errors:
          type: array
          description: Individual errors when code is MULTIPLE_ERRORS
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
      required:
      - code
    TldDnsPricingResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.TldDnsPricing
        name:
          type: string
        registration:
          $ref: '#/components/schemas/DomainPriceResponse'
        renewal:
          $ref: '#/components/schemas/DomainPriceResponse'
        transfer:
          $ref: '#/components/schemas/DomainPriceResponse'
        restoration:
          $ref: '#/components/schemas/DomainPriceResponse'
        constraints:
          $ref: '#/components/schemas/DomainAvailabilityConstraintsResponse'
      required:
      - '@type'
      - name
    PriceItemResponse:
      type: object
      properties:
        usdCents:
          type: number
      required:
      - usdCents
    DomainAvailabilityRegistrationConstraintsResponse:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/IcannDomainRenewalInfoPeriodResponse'
      required:
      - period
    IcannDomainRenewalInfoPeriodResponse:
      type: object
      properties:
        min:
          type: number
        max:
          type: number
        increments:
          type: number
      required:
      - min
      - max
      - increments
    TldDnsPricingListResponse:
      type: object
      properties:
        '@type':
          type: string
          enum:
          - unstoppabledomains.com/partner.v3.List
        items:
          type: array
          items:
            $ref: '#/components/schemas/TldDnsPricingResponse'
      required:
      - '@type'
      - items
    DomainAvailabilityConstraintsResponse:
      type: object
      properties:
        registration:
          $ref: '#/components/schemas/DomainAvailabilityRegistrationConstraintsResponse'
    DomainPriceResponse:
      type: object
      properties:
        type:
          type: string
          enum:
          - STANDARD
          - PREMIUM
          - DEFERRED
        listPrice:
          $ref: '#/components/schemas/PriceItemResponse'
        adjustments:
          type: array
          items:
            $ref: '#/components/schemas/DomainPriceAdjustmentResponse'
        subTotal:
          $ref: '#/components/schemas/PriceItemResponse'
        validUntilTimestamp:
          type: number
      required:
      - type
      - listPrice
      - subTotal
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-tagGroups:
- name: Domains
  tags:
  - domain-search
  - suggestions
  - domain-registration
  - domain-management
  - dns-records
  - domain-transfers
  - domain-flags
  - domain-contacts
- name: Marketplace
  tags:
  - marketplace
- name: Discovery
  tags:
  - pricing
  - tlds
- name: Contacts
  tags:
  - contacts
- name: Operations
  tags:
  - operations
- name: Hosting
  tags:
  - hosting
- name: Account
  tags:
  - account
