openapi: 3.2.0
info:
  title: Resolution Service Reverse API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: The Resolution Service provides APIs for resolving domain metadata and records from multiple blockchain and naming services.
servers:
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Reverse
paths:
  /reverse/{address}:
    get:
      operationId: ReverseController.getReverse
      parameters:
      - in: path
        name: address
        required: true
        schema:
          pattern: '[^\/#\?]+?'
          type: string
        description: A wallet address to query for reverse record
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainResponse'
          description: ''
      summary: Get reverse
      tags:
      - Reverse
      description: '**Get Reverse Record for an Address**

        **Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
  /reverse/query:
    post:
      operationId: ReverseController.getReverses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkReverseQueryParams'
        description: BulkReverseQueryParams
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkReverseQueryResponse'
          description: ''
      summary: Get reverses
      tags:
      - Reverse
      description: '**Get Records for Multiple Domains**


        The API only supports Unstoppable Domains'' naming services for backward compatibility. A new API version is coming soon for other naming services


        Unstoppable Domain''s UNS and CNS with TLDs:

        .x, .polygon, .nft, .crypto, .blockchain, .bitcoin, .dao, .888, .wallet, .binanceus, .hi, .klever, .kresus, .anime, .manga, .go, .zil


        Unstoppable Domain''s Zilliqa with TLDs:

        zil


        **Note:** The API should be used in a backend system. If you need the data in client apps, please build a proxy backend to hide the API key.'
      parameters:
      - name: resolution
        required: false
        in: query
        description: See this [list](https://github.com/unstoppabledomains/uns/blob/main/uns-config.json) for all the resolution keys supported
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                type: string
      - name: owners
        in: query
        description: Wallet addresses of the owners of domains
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                type: string
      - name: tlds
        in: query
        description: Domain ending supported such as `crypto`, `x`, or `polygon`. See [supported tlds](https://api.unstoppabledomains.com/resolve/supported_tlds) for the full list
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                enum:
                - x
                - polygon
                - nft
                - crypto
                - blockchain
                - bitcoin
                - dao
                - '888'
                - wallet
                - binanceus
                - hi
                - klever
                - kresus
                - anime
                - manga
                - go
                - zil
                - eth
      - name: sortBy
        in: query
        description: Sort key to specify how the returned domain list is sorted
        schema:
          type: string
      - name: sortDirection
        in: query
        description: Sort order of the returned domain list
        schema:
          type: string
      - name: startingAfter
        in: query
        description: 'Query offset to skip a number of record, example: 100'
        schema:
          type: string
      - name: perPage
        in: query
        description: 'Number of domains returned in the list, example: 50'
        schema:
          type: number
components:
  schemas:
    DomainMetadata:
      properties:
        resolver:
          type: string
        blockchain:
          items:
            type: string
            enum:
            - ETH
            - ZIL
            - MATIC
          type: string
        networkId:
          type: number
          enum:
          - 1
          - 5
          - 137
          - 1337
          - 80001
        registry:
          type: string
        type:
          enum:
          - Uns
          - Zilliqa
          - Ens
          type: string
        customMeta:
          type: object
        domain:
          type: string
        namehash:
          type: string
        tokenId:
          type: string
        owner:
          type: string
        reverse:
          type: boolean
      type: object
      required:
      - type
      - domain
      - reverse
    BulkReverseQueryParams:
      properties:
        addresses:
          items:
            pattern: ^0x[a-fA-F0-9]{40}$
            type: string
          type: array
          uniqueItems: true
          maxItems: 1000
          minItems: 1
      type: object
      required:
      - addresses
    DomainsListMeta:
      properties:
        nextStartingAfter:
          type: string
          minLength: 1
        sortBy:
          type: string
          minLength: 1
        sortDirection:
          type: string
          minLength: 1
        perPage:
          maximum: 200
          type: string
          minimum: 1
          minLength: 1
        hasMore:
          type: string
          minLength: 1
      type: object
      required:
      - nextStartingAfter
      - sortBy
      - sortDirection
      - perPage
      - hasMore
    DomainResponse:
      properties:
        meta:
          $ref: '#/components/schemas/DomainMetadata'
        records:
          type: object
      type: object
      required:
      - meta
      - records
    BulkReverseQueryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DomainResponse'
        meta:
          type: object
          items:
            $ref: '#/components/schemas/DomainsListMeta'
      required:
      - data
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
