openapi: 3.2.0
info:
  title: Resolution Service Status API
  version: 1.0.0
  contact:
    name: Unstoppable Domains (Partner Engineering)
    email: partnerengineering@unstoppabledomains.com
  description: "The Resolution Service provides APIs for resolving domain metadata and records from multiple blockchain and naming services. The service currently supports the following naming services:\n    <ul>\n      <li>\n        <p>Unstoppable Domain's <a href=\"https://docs.unstoppabledomains.com/smart-contracts/overview/uns-architecture-overview\" target=\"_blank\">UNS</a> and <a href=\"https://docs.unstoppabledomains.com/smart-contracts/overview/cns-architecture-overview\" target=\"_blank\">CNS</a> with TLDs:\n<strong>.x</strong>, <strong>.polygon</strong>, <strong>.nft</strong>, <strong>.crypto</strong>, <strong>.blockchain</strong>, <strong>.bitcoin</strong>, <strong>.dao</strong>, <strong>.888</strong>, <strong>.wallet</strong>, <strong>.binanceus</strong>, <strong>.hi</strong>, <strong>.klever</strong>, <strong>.kresus</strong>, <strong>.anime</strong>, <strong>.manga</strong>, <strong>.go</strong>, <strong>.zil</strong></p>\n      </li>\n      <li>\n        <p>Ethereum Naming Service - <a href=\"https://docs.ens.domains/\" target=\"_blank\">ENS</a> with TLDs:\n<strong>.eth</strong></p>\n      </li>\n    </ul>\n    <br></br>\n    The service caches blockchain events in a database for easy retrieval without accessing any blockchain APIs.\n    With the Resolution Service API, you can quickly build applications directly communicating with the blockchain to get UD domain data with a single API request."
servers:
- url: https://api.unstoppabledomains.com/resolve
  description: Production
- url: https://api.ud-sandbox.com/resolve
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Status
paths:
  /status:
    get:
      operationId: StatusController.getStatus
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: ''
      summary: Get status
      tags:
      - Status
      security:
      - {}
  /supported_tlds:
    get:
      operationId: StatusController.listSupportedTlds
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: List supported tlds
      tags:
      - Status
      security:
      - {}
components:
  schemas:
    BlockchainStatus:
      properties:
        isUpToDate:
          type: boolean
        latestNetworkBlock:
          type: number
        latestMirroredBlock:
          type: number
        networkId:
          type: number
        acceptableDelayInBlocks:
          type: number
      type: object
      required:
      - isUpToDate
      - latestNetworkBlock
      - latestMirroredBlock
      - networkId
      - acceptableDelayInBlocks
    StatusResponse:
      properties:
        blockchain:
          $ref: '#/components/schemas/Blockchains'
      type: object
      required:
      - blockchain
    Blockchains:
      properties:
        ETH:
          $ref: '#/components/schemas/BlockchainStatus'
        MATIC:
          $ref: '#/components/schemas/BlockchainStatus'
        ZIL:
          $ref: '#/components/schemas/BlockchainStatus'
        ETH-ENS:
          $ref: '#/components/schemas/BlockchainStatus'
      type: object
      required:
      - ETH
      - MATIC
      - ZIL
      - ETH-ENS
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
