openapi: 3.2.0
info:
  title: User Backorders API
  description: 'Search, check availability, and purchase traditional DNS domains. This API enables AI assistants to help users find and buy domain names.


    When using the API directly, you will need an API key. See [API Key setup](/user-api/overview#api-key-advanced) for instructions.'
  version: 1.0.0
  contact:
    name: Unstoppable Domains
    url: https://unstoppabledomains.com
    email: support@unstoppabledomains.com
  x-logo:
    url: https://unstoppabledomains.com/images/logos/ud-logo-icon.svg
servers:
- url: https://api.unstoppabledomains.com
  description: Production server
tags:
- name: Backorders
  description: Create and manage domain backorders, and browse expired or pending-delete domains.
paths:
  /mcp/v1/actions/ud_backorder_create:
    post:
      operationId: backorderCreate
      tags:
      - Backorders
      summary: Create domain backorders
      description: Create backorders for one or more expiring DNS domains. The system monitors the domain and automatically registers it when it drops.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domains
              properties:
                domains:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                    required:
                    - name
                    - contactId
                    - availableAfterTimestamp
                    properties:
                      name:
                        type: string
                        description: Domain name to backorder
                      contactId:
                        type: string
                        description: ICANN contact ID for domain registration
                      availableAfterTimestamp:
                        type: number
                        description: Unix timestamp (ms) when the domain becomes available for registration
      responses:
        '200':
          description: Backorder creation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        success:
                          type: boolean
                        backorderId:
                          type: number
                        price:
                          type: number
                        serviceFee:
                          type: number
                        status:
                          type: string
                        error:
                          type: string
                  successCount:
                    type: number
                  failureCount:
                    type: number
                  message:
                    type: string
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_backorder_cancel:
    post:
      operationId: backorderCancel
      tags:
      - Backorders
      summary: Cancel domain backorders
      description: Cancel one or more pending domain backorders. Refunds the Account Balance hold (minus non-refundable service fee) and removes the scheduled registration job.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - backorderIds
              properties:
                backorderIds:
                  type: array
                  items:
                    type: number
                  minItems: 1
                  maxItems: 50
                  description: Array of backorder IDs to cancel
      responses:
        '200':
          description: Backorder cancellation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        backorderId:
                          type: number
                        domain:
                          type: string
                        success:
                          type: boolean
                        refundAmount:
                          type: number
                        error:
                          type: string
                  successCount:
                    type: number
                  failureCount:
                    type: number
                  message:
                    type: string
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_backorders_list:
    post:
      operationId: backordersList
      tags:
      - Backorders
      summary: List user's backorders
      description: List the authenticated user's domain backorders with optional status filtering, domain search, and pagination. Status normalization is applied automatically.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: array
                  items:
                    type: string
                    enum:
                    - pending
                    - cancelled
                    - in-progress
                    - registration-pending
                    - completed-success
                    - completed-not-available
                    - completed-payment-failed
                    - completed-user-contact-invalid
                    - failed
                  description: Filter by backorder status
                query:
                  type: string
                  maxLength: 253
                  description: Search by domain name (partial match)
                offset:
                  type: number
                  minimum: 0
                  description: 'Pagination offset (default: 0)'
                limit:
                  type: number
                  minimum: 1
                  maximum: 100
                  description: 'Items per page (1-100, default: 20)'
      responses:
        '200':
          description: List of backorders with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  backorders:
                    type: array
                    items:
                      type: object
                      properties:
                        backorderId:
                          type: number
                        domain:
                          type: string
                        status:
                          type: string
                        price:
                          type: number
                        serviceFee:
                          type: number
                        availableAfter:
                          type: number
                        createdAt:
                          type: number
                        updatedAt:
                          type: number
                  pagination:
                    type: object
                    properties:
                      total:
                        type: number
                      count:
                        type: number
                      offset:
                        type: number
                      limit:
                        type: number
                      hasMore:
                        type: boolean
                      nextOffset:
                        type: number
                        nullable: true
        '401':
          description: Authentication required
  /mcp/v1/actions/ud_expireds_list:
    post:
      operationId: expiredsList
      tags:
      - Backorders
      summary: Browse the expireds/pending-delete domain marketplace
      description: List domains that are approaching expiration or have recently dropped and are available for backorder registration. Supports filtering by status, TLD, label length, backorder count, and watchlist count.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  maxLength: 253
                  description: Search by domain name (exact match if contains dot) or label substring
                status:
                  type: string
                  enum:
                  - COMING_SOON
                  - AVAILABLE_BACKORDER
                  description: 'Filter by drop status: "COMING_SOON" (not yet dropped) or "AVAILABLE_BACKORDER" (already dropped)'
                tlds:
                  type: array
                  items:
                    type: string
                  description: Filter by TLD extensions (e.g., ["com", "net"])
                sortBy:
                  type: string
                  enum:
                  - name
                  - deletionAt
                  - labelLength
                  - watchlistCount
                  - backorderCount
                  description: 'Sort field (default: "deletionAt")'
                sortDirection:
                  type: string
                  enum:
                  - ASC
                  - DESC
                  description: 'Sort direction (default: "ASC")'
                lengthRange:
                  type: array
                  items:
                    type: number
                    minimum: 0
                  minItems: 2
                  maxItems: 2
                  description: Filter by label length range [min, max]. Use max=0 for no upper bound.
                bidsRange:
                  type: array
                  items:
                    type: number
                    minimum: 0
                  minItems: 2
                  maxItems: 2
                  description: Filter by backorder count range [min, max]. Use max=0 for no upper bound.
                watchlistRange:
                  type: array
                  items:
                    type: number
                    minimum: 0
                  minItems: 2
                  maxItems: 2
                  description: Filter by watchlist count range [min, max]. Use max=0 for no upper bound.
                offset:
                  type: number
                  minimum: 0
                  description: 'Number of items to skip for pagination (default: 0)'
                limit:
                  type: number
                  minimum: 1
                  maximum: 500
                  description: 'Maximum number of items to return (1-500, default: 50)'
      responses:
        '200':
          description: List of expiring/dropped domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Full domain name
                        deletionTimestamp:
                          type: number
                          description: Unix timestamp in milliseconds when the domain drops/dropped
                        status:
                          type: string
                          enum:
                          - COMING_SOON
                          - AVAILABLE_BACKORDER
                        labelLength:
                          type: number
                          description: Length of the domain label
                        watchlistCount:
                          type: number
                          description: Number of users watching this domain
                        backorderCount:
                          type: number
                          description: Number of active backorders
                  pagination:
                    type: object
                    properties:
                      total:
                        type: number
                      count:
                        type: number
                      offset:
                        type: number
                      limit:
                        type: number
                      hasMore:
                        type: boolean
                      nextOffset:
                        type: number
                  truncated:
                    type: boolean
                    description: Whether the response was truncated to fit within size limits
                  truncationMessage:
                    type: string
                    description: Message indicating how many results were truncated
        '401':
          description: Authentication required
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for authenticated operations. Obtain from your Unstoppable Domains account settings.
